<h1>New Comment</h1>

<%= form_for @comment do |f| %>

    <%= f.hidden_field :post_id, required: true, class: 'form-control', value:@post_id  %>
    <div class="field">
        <%= f.label :comment %>
        <%= f.text_field :body %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>