<%
=begin%>
 <p id="notice"><%= notice %></p> 
<%
=end%>

<h1> fakebook </h1>

<div>
  <% if !user_signed_in? %>
    <%= link_to("login", {:controller => "devise/sessions", :action => "new"} ) %>
    <%= link_to("signup", {:controller => "devise/registrations", :action => "new"} ) %>
  <% else %>
    
    <p><%= "Welcome #{current_user.email}" %>
       <%= link_to "Log out", destroy_user_session_path, :action => "destroy", :method => :delete %>  
    </p>
  <% end %>
</div>
<br><br>


<div>
  <h2>Posts </h2> 
  <% if user_signed_in? %>
    <%= link_to 'New Post', new_post_path %> 
  <% end %>
</div>
<br>


<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.tittle %></td>
        <td><%= post.body %></td>
        <td><%= post.user.email %></td>
        <td><%= link_to 'Show Comments', post %></td>
        <% if post.user == current_user %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


